# Git specific
.gitignore

# Python virtual environment
.venv

# Ignore dependency files
deps/*/build
deps/dpdk/build
deps/openssl/build

# OS / IDE specific
.DS_Store
*.pyc
__pycache__/
*.swp

# *.o and *.d are good to ignore if they are local build artifacts outside build/
*.o
*.d